{% extends "layout.html" %}
{% block content %}    
    <style>
    #data{
     margin: auto;
     width:400px;
     background-image: url(static/assets/img.png);
     background-size: 150px ;
     background-position: right;
     background-repeat: no-repeat;
     font-family: "Times New Roman", Times, serif;
     font-style: italic;
     font-weight: Bold;
     font-color: black;
    }
   
    </style>
    
    <div id = 'data'>
        {% for i in data %}
        <p> {{i}} : {{data[i]}} </p>
        {% endfor %}
    </div>

{% endblock content %}