<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body style="text-align: center;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>Enter the Country Name</h1>
    <form action="/" method="POST">
      <div>
        <input
          type="text"
          id="country"
          name="country"
          placeholder="Country Name"
        />
        <br />
        <br />
      </div>
      <input type="submit" value="submit" />
    </form>
    {% for i in country_list %}

    <a href="{{ "/submit_form/" + i }}">{{ i }}</a>

    {% endfor %}

  </body>
</html>
