<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="text-align: center;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Enter the Country Name</h1>
    <form action="/submit_form" method="POST">
        <div>
            <input type="text" id="country" name="country" placeholder="Country Name">
            <br> <br>
        </div>
        <button type="submit" onclick="/submit_form.html">
          Send  
        </button>
    </form>
</body>
</html>